<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="simple js -> python">
<meta name="author" content="dodo">
<link rel="icon" href="../../favicon.ico">

<title>Refactored Disco</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>

$.ajaxSetup({ cache:false });

$(document).ready(function() {

var newFramesObj = []
var havePlot = 0

// to be called from timeout function
function callTest1() {
	console.log("1s timeout expired..");
	
	$.ajax({
//		url: "http://hinkocmbp.esss.lu.se:5000/test1/id/1?cnt=123",
		url: "http://localhost:5000/test1/id/1?cnt=123",
			type: 'GET',
			dataType: 'json',
			success: function(res) {
//				 alert(res);
//				console.log(res);
//				console.log(typeof res);

			for (i = 0; i < res.length; i++) {
				newFramesObj.push(res[i]);
			} 
//			$("#frames").text(JSON.stringify(res));
				
//		plotData();

			},
			error: function(error) {
				console.log(error);
			}
	});
	
	pull();
}

function plotData() {
	console.log("Have "+newFramesObj.length+" frames to plot...");

  $("#level").text("Have "+newFramesObj.length+" frames to plot...");

	if (newFramesObj.length > 0) {
		// get first element
		element = newFramesObj.shift();
	} else {
		// call ourselves again to paint next frame
	  setTimeout(function(){ plotData(); }, 500);
		return;
	}
	
	//console.log(element['signal']);

	if (havePlot == 0) {
		var trace = {
		  x: Array.apply(null, {length: element['signal'].length}).map(Number.call, Number),
		  y: element['signal'],
		  mode: 'lines',
		  type: 'scatter'
		};
		var data = [trace];
		var layout = {};
		Plotly.newPlot('plotly', data, layout);
		havePlot = 1;
		//console.log("Created plot...");
	} else {
		Plotly.restyle('plotly', 'y', [element['signal']]);
		//console.log("Restyled plot...");
	}

	if (newFramesObj.length <= 3) {
		pull1();
	}

	// call ourselves again to paint next frame
  setTimeout(function(){ plotData(); }, 20);
}

function pull1() {
	//console.log("starting 1s timeout..");
	setTimeout(function() { callTest1(); }, 10);
}

function pull2() {
	//console.log("starting 1s timeout..");
	setTimeout(function() { plotData(); }, 10);
}

function pull() {
	if (newFramesObj.length > 500) {
		console.log("starting 3s timeout..");
		setTimeout(function() { callTest1(); }, 3000);
	} else {
		console.log("starting 1s timeout..");
		setTimeout(function() { callTest1(); }, 1000);
	}
}

$("#pullbtn").click(function(){
    $("#frames").text("Waiting for data..");
    //pull();
    //pull2();
    callTest1();
    plotData();
});
/*
var trace3 = {
  x: [1, 2, 3, 4],
  y: [12, 9, 15, 12],
  mode: 'lines',
  type: 'scatter'
};

$("#plotbtn").click(function(){
    //$("#frames").text("Waiting for data..");

		var data = [trace3];
		var layout = {};
		Plotly.newPlot('plotly', data, layout);
		
		plotData();
});
*/
});

</script>
</head>


<body>
<H1>This is a test page to collect data from python server</H1>
<p>
<p>

<form action="/test1/id/1" method="get">
<input type="submit" value="Submit">
</form>

<hr>

<button id="pullbtn" type="button">Pull!</button>

<hr>

<button id="plotbtn" type="button">Plot!</button>
<div id="plotly">
	<!-- Plotly chart will be drawn inside this DIV -->
</div>
<div id="level">
</div>

<div id="frames">
<p>Nothing yet ...
</div>

</body>
</html>
